/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .estudios, .trabajos {
    width: auto; }
  .navbar-text {
    margin-left: 50px; }
  .main h1 {
    font-size: 30px; }
  .main p {
    font-size: 13px;
    width: 70vw; }
  .main-left a button {
    padding: 7px 15px;
    font-size: 15px; }
  .main-right img {
    width: 40vw; }
  .sobre-mi p {
    font-size: 13px;
    width: auto; }
  .trabajos, .estudios {
    font-size: 13px; }
  .cotizacion {
    margin: 40px 0px !important;
    padding: 30px 0px !important; }
    .cotizacion h1 {
      width: 80vw !important; }
    .cotizacion .form-cotizacion {
      width: 90vw !important; }
      .cotizacion .form-cotizacion input[type=text] {
        width: 70vw !important;
        padding: 7px 20px;
        font-size: 14px; }
      .cotizacion .form-cotizacion select {
        width: 70vw !important;
        padding: 7px 10px;
        font-size: 14px; }
      .cotizacion .form-cotizacion input[type=submit] {
        width: 40vw !important; } }

.navbar-nav {
  margin: 0px auto;
  padding: 10px 0px; }

.bg-light {
  background-color: #fff !important; }

.navbar-light .navbar-toggler {
  border-color: #000; }

.navbar-light .navbar-nav .nav-link {
  color: #5c5f74;
  margin: 0px 50px; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #5641e5;
  transition: 1.5s; }

.navbar-light .navbar-text {
  color: #5c5f74;
  margin-right: 60px; }
  .navbar-light .navbar-text a {
    text-decoration: none;
    font-weight: 400;
    color: #5c5f74; }
  .navbar-light .navbar-text a:hover {
    color: #5641e5;
    transition: 1s; }

.main {
  padding: 50px 30px;
  background-color: #f2f2ff;
  border-radius: 25px; }
  .main h1 {
    color: #263761;
    font-size: 48px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .main p {
    color: #5c5f74;
    width: 370px;
    font-size: 16px; }
    .main p b {
      color: #5641e5;
      width: 370px; }

.main-right img {
  height: auto;
  width: 16vw;
  border-radius: 50%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  margin-top: 20px; }

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both; }

.main-left {
  margin-top: 20px; }
  .main-left a button {
    border: none;
    background-color: #5641e5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400; }
  .main-left a button:hover {
    background-color: #263761;
    transition: all 2s ease;
    color: #fff; }

.sobre-mi {
  margin-top: 40px;
  background-color: #f2f2ff;
  padding: 50px 30px;
  border-radius: 25px; }
  .sobre-mi h2 {
    margin-bottom: 30px;
    color: #263761;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .sobre-mi p {
    color: #5c5f74;
    font-size: 16px;
    width: 60vw;
    text-align: justify;
    margin-bottom: 20px; }

.trabajos {
  margin-top: 40px;
  background-color: #263761;
  padding: 50px 30px;
  border-radius: 25px;
  width: auto;
  position: relative;
  font-size: 16px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.14); }
  .trabajos .corner-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #fff; }
  .trabajos h2 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .trabajos ul {
    list-style-type: none;
    padding-left: 0rem; }
    .trabajos ul li {
      color: #fff;
      line-height: 35px; }

.lenguajes {
  margin-top: 40px;
  padding: 50px 30px;
  background-color: #f2f2ff;
  border-radius: 25px;
  text-align: center;
  font-weight: bold; }
  .lenguajes p {
    margin-top: 10px; }
  .lenguajes h2 {
    margin-bottom: 50px;
    text-align: left;
    color: #263761;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .lenguajes i {
    font-size: 90px; }
  .lenguajes h3 {
    margin-top: 50px;
    color: #263761;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }

#html {
  color: #ea572b; }

#css {
  color: #2f6fad; }

#javascript {
  color: #ecd84d; }

#sass {
  color: #e889aa; }

#react {
  color: #7cd0ef;
  -webkit-animation: rotate-center 2s ease-in-out infinite both;
  animation: rotate-center 2s ease-in-out infinite both; }

.contacto {
  margin-top: 40px;
  padding: 50px 30px;
  background-color: #263761;
  border-radius: 25px;
  text-align: center; }
  .contacto .contacto-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .contacto .contacto-rrss {
    margin-top: 40px;
    display: flex;
    width: 50%;
    margin-left: 30px; }
    .contacto .contacto-rrss a {
      font-size: 40px;
      color: #fff;
      margin-right: 50px; }
    .contacto .contacto-rrss a:hover {
      color: #ecd84d;
      transition: 1s ease all; }
  .contacto .contacto-right {
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-left: 35px; }
    .contacto .contacto-right a {
      color: #fff;
      font-size: 17px;
      text-decoration: none; }
  .contacto h2 {
    margin-bottom: 50px;
    text-align: left;
    color: #fff;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .contacto form {
    display: flex;
    flex-direction: column; }
    .contacto form input[type=text], .contacto form input[type=email] {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      margin-bottom: 10px; }
    .contacto form input[type=submit] {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      margin-bottom: 10px;
      background-color: #5641e5;
      color: #fff;
      font-weight: bold; }
    .contacto form input[type=submit]:hover {
      background-color: #fff;
      color: #263761;
      transition: 1s ease all; }
    .contacto form input[type=text]::placeholder, .contacto form input[type=email]::placeholder {
      font-size: 13px;
      color: #263761; }
    .contacto form input[type=text]:focus, .contacto form input[type=email]:focus {
      outline: none; }
    .contacto form textarea {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      height: 150px;
      margin-bottom: 10px;
      resize: none; }
    .contacto form textarea::placeholder {
      color: #263761; }
    .contacto form textarea:focus, .contacto form input[type=submit]:focus {
      outline: none; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

.estudios {
  margin-top: 40px;
  background-color: #f2f2ff;
  padding: 50px 30px;
  border-radius: 25px;
  width: auto;
  position: relative;
  font-size: 16px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.14); }
  .estudios .corner-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #263761; }
  .estudios h2 {
    margin-bottom: 30px;
    color: #263761;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .estudios ul {
    list-style-type: none;
    padding-left: 0rem; }
    .estudios ul li {
      color: #263761;
      line-height: 45px; }

.contacto {
  margin-top: 40px;
  padding: 50px 30px;
  background-color: #263761;
  border-radius: 25px;
  text-align: center; }
  .contacto .contacto-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .contacto .contacto-rrss {
    margin-top: 40px;
    display: flex;
    width: 50%;
    margin-left: 30px; }
    .contacto .contacto-rrss a {
      font-size: 40px;
      color: #fff;
      margin-right: 50px; }
    .contacto .contacto-rrss a:hover {
      color: #ecd84d;
      transition: 1s ease all; }
  .contacto .contacto-right {
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-left: 35px; }
    .contacto .contacto-right a {
      color: #fff;
      font-size: 17px;
      text-decoration: none; }
  .contacto h2 {
    margin-bottom: 50px;
    text-align: left;
    color: #fff;
    font-size: 35px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.03em; }
  .contacto form {
    display: flex;
    flex-direction: column; }
    .contacto form input[type=text], .contacto form input[type=email] {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      margin-bottom: 10px; }
    .contacto form input[type=submit] {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      margin-bottom: 10px;
      background-color: #5641e5;
      color: #fff;
      font-weight: bold; }
    .contacto form input[type=submit]:hover {
      background-color: #fff;
      color: #263761;
      transition: 1s ease all; }
    .contacto form input[type=text]::placeholder, .contacto form input[type=email]::placeholder {
      font-size: 13px;
      color: #263761; }
    .contacto form input[type=text]:focus, .contacto form input[type=email]:focus {
      outline: none; }
    .contacto form textarea {
      border: none;
      border-radius: 20px;
      font-size: 13px;
      padding: 7px 10px 7px 20px;
      width: 300px;
      height: 150px;
      margin-bottom: 10px;
      resize: none; }
    .contacto form textarea::placeholder {
      color: #263761; }
    .contacto form textarea:focus, .contacto form input[type=submit]:focus {
      outline: none; }

.cotizacion {
  padding: 50px 30px;
  background-color: #f2f2ff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cotizacion h1 {
    color: #263761;
    font-size: 40px;
    margin-bottom: 30px;
    width: 30%;
    font-weight: 600; }
  .cotizacion .form-cotizacion {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    background-color: #fff;
    border-radius: 25px; }
    .cotizacion .form-cotizacion select {
      border: none;
      width: 22vw;
      background-color: #f2f2ff;
      border-radius: 20px;
      padding: 7px 10px;
      font-size: 14px;
      color: #263761;
      margin-bottom: 12px; }
    .cotizacion .form-cotizacion input[type=text] {
      border: none;
      width: 22vw;
      background-color: #f2f2ff;
      border-radius: 20px;
      padding: 7px 20px;
      font-size: 14px;
      color: #263761;
      margin-bottom: 12px; }
    .cotizacion .form-cotizacion ::placeholder {
      font-size: 14px;
      color: #5641e5; }
    .cotizacion .form-cotizacion :focus {
      outline: none; }
    .cotizacion .form-cotizacion input[type=submit] {
      font-weight: 500;
      margin-top: 20px;
      border: none;
      padding: 10px 20px;
      color: #fff;
      background-color: #5641e5;
      border-radius: 10px;
      width: 10vw;
      box-shadow: 6px 3px 5px 0px rgba(0, 0, 0, 0.04);
      -webkit-box-shadow: 6px 3px 5px 0px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 6px 3px 5px 0px rgba(0, 0, 0, 0.04); }
    .cotizacion .form-cotizacion input[type=submit]:hover {
      background-color: #263761;
      transition: 2s; }

.footer {
  background-color: #fff;
  color: #263761;
  font-weight: 400;
  font-size: 15px;
  padding: 30px 0px 30px 0px;
  height: auto;
  width: 100%;
  display: block; }
  .footer a, .footer p {
    color: #27202c;
    padding: 0px !important;
    margin: 0px !important;
    text-decoration: none; }
  .footer p i {
    margin-right: 10px; }

.contenedor {
  padding: 50px;
  width: 100vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto); }
  .contenedor header, .contenedor .sidebar, .contenedor footer, .contenedor .contenido, .contenedor div {
    background-color: #f2f2ff;
    padding: 20px;
    border-radius: 25px; }
  .contenedor header {
    background-color: #263761;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contenedor header h1 {
      font-size: 30px; }
  .contenedor .contenido {
    grid-column: span 2;
    color: #263761;
    width: 100%; }
    .contenedor .contenido img {
      width: 100%;
      height: auto;
      border-radius: 25px; }
    .contenedor .contenido h2 {
      font-size: 25px;
      margin-bottom: 20px; }
  .contenedor .sidebar {
    grid-column: 3 / 4;
    grid-row: span 2;
    min-height: 100px;
    color: #263761; }
    .contenedor .sidebar ul {
      list-style: none;
      margin-top: 20px; }
      .contenedor .sidebar ul li {
        line-height: 40px; }
        .contenedor .sidebar ul li a {
          text-decoration: none;
          color: #5641e5;
          font-size: 18px; }
  .contenedor .widget-1 {
    background-color: #5641e5;
    color: #fff;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contenedor .widget-1 p {
      font-size: 18px;
      padding: 20px;
      margin: 0; }
  .contenedor footer {
    background-color: #263761;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contenedor footer h3 a {
      color: #fff; }

@media screen and (max-width: 768px) {
  .contenedor .contenido {
    grid-column: 1 / -1; }
  .contenedor .sidebar {
    grid-column: 1 / -1; }
  .contenedor .widget-1 {
    grid-column: 1 / -1; } }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.03em;
  scroll-behavior: smooth; }

.estudios-trabajos {
  display: flex;
  justify-content: space-around; }
