@import "colors";

.navbar-nav {
    margin: 0px auto;
    padding: 10px 0px;
}

.bg-light {
    background-color: $blanco !important;
}

.navbar-light{

    .navbar-toggler {
        border-color: $negro;
    }

    .navbar-nav .nav-link {
        color: $gris;
        margin: 0px 50px;
    }

    .navbar-nav .nav-link:hover {
        color: $morado;
        transition: 1.5s;
    }

    .navbar-text {
        color: $gris;
        margin-right: 60px;

        a {
            text-decoration: none;
            font-weight: 400;
            color: $gris;
        }

        a:hover {
            color: $morado;
            transition: 1s;
        }
    }

}