@import "colors";

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
    .estudios, .trabajos {
        width: auto;
    }

    .navbar-text {
        margin-left: 50px;
    }

    .main {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
            width: 70vw;
        }
    }

    .main-left a button {
        padding: 7px 15px;
        font-size: 15px;
    }

    .main-right img {
        width: 40vw;
    }

    .sobre-mi p {
        font-size: 13px;
        width: auto;
    }

    .trabajos, .estudios{
        font-size: 13px;
    }

    .cotizacion {
        margin: 40px 0px !important;
        padding: 30px 0px !important;

        h1 {
            width: 80vw !important;
        }
    
        .form-cotizacion {
            width: 90vw !important;

            input[type=text] {
                width: 70vw !important;
                padding: 7px 20px;
                font-size: 14px;
            }

            select {
                width: 70vw !important;
                padding: 7px 10px;
                font-size: 14px;
            }

            input[type=submit] {
                width: 40vw !important;
            }
        }


    }
}